.flexcontainer
{
    border: 1px solid red;
    display :flex;
    height : 90vh;
    gap : 10px ;

    
}
/* wrap values no wrap ,wrap ,wrap reverse */
.flexitem
{
    background-color: yellow;
    border : 2px solid red;
    colour: red;
    width: 100px;
    height: 100px;
    font-size: 24px;


}

.flexitem:nth-child(1)
{
    order : 1;
   align-self: center;
}
.flexitem:nth-child(6)
{
    order :-1;
   align-self :flex-end;

}