.gridcontainer{
    border: 1px solid rgb(0, 0, 0);
    height: 90vh;
    display: grid;
    /* grid-template-columns: 100px 200px 300px 400px;
       grid-template-rows: 100px 100px; */
    /* grid-template-colums: 200px 200px 200px 200px; */
    /* grid-template-columns: 100px repeat(4, 200px); */
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: 100px 100px;
    /* row-gap:10px; */
    /* column-gap:10px; */
    /* gap: 10px; */
    /* justify-content: space-evenly; */
    /* align-content: center; */
}

.griditem {
    color: rgb(0, 0, 0);
    border: 1px solid;
    background-color: rgb(244, 104, 104);
    /* height: 30px; */
}
.griditem:nth-child(1) {
    grid-column-start: 3;
    grid-column-end: -1;
    /* grid-column: 3/-1; */
    grid-row-start: 2;
    grid-row-end: 3;
    /* grid-row: 2/3; */
}