.gridcontainer
{
    border:1px solid red;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 100px 100px;
   
.griditem
{
    color: red;
    border : 1px solid black;
    background-color: yellow;
    padding: 30px 40px;
}