h1{
    background-color: green;

}
#a{
    color: red;
    background-color: yellow;
}
.b{
    border: 10px solid;
}
h1,h2{
    color: blueviolet;
}
div p{
    color: brown;
    background-color: lightgrey;
}
div>p{
    color: purple;
    background-color: lightgreen;
}
button[type="submit"]{
    color: rebeccapurple;
    font-size: 32px;
}